/.vs/Weather/FileContentIndex/2ddea9e5-aede-474d-9e10-b6ff9eff5ba1.vsidx
/.vs/Weather/FileContentIndex/read.lock
/.vs/Weather/v17/.suo
/Services/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Services/obj/Debug/net6.0/Services.assets.cache
/Services/obj/Debug/net6.0/Services.csproj.BuildWithSkipAnalyzers
/Services/obj/Debug/net6.0/Services.csproj.FileListAbsolute.txt
/Services/obj/Debug/net6.0/Services.GlobalUsings.g.cs
/Services/obj/project.assets.json
/Services/obj/Services.csproj.nuget.dgspec.json
/Services/obj/Services.csproj.nuget.g.props
/Services/obj/Services.csproj.nuget.g.targets
/Test/WeatherApi.Test/bin/Debug/net6.0/nunit_random_seed.tmp
/Test/WeatherApi.Test/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Test/WeatherApi.Test/obj/Debug/net6.0/WeatherApi.Test.assets.cache
/Test/WeatherApi.Test/obj/Debug/net6.0/WeatherApi.Test.csproj.FileListAbsolute.txt
/Test/WeatherApi.Test/obj/Debug/net6.0/WeatherApi.Test.GlobalUsings.g.cs
/Test/WeatherApi.Test/obj/project.assets.json
/Test/WeatherApi.Test/obj/WeatherApi.Test.csproj.nuget.dgspec.json
/Test/WeatherApi.Test/obj/WeatherApi.Test.csproj.nuget.g.props
/Test/WeatherApi.Test/obj/WeatherApi.Test.csproj.nuget.g.targets
/WeatherApi/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/WeatherApi/obj/Debug/net6.0/apphost.exe
/WeatherApi/obj/Debug/net6.0/WeatherApi.assets.cache
/WeatherApi/obj/Debug/net6.0/WeatherApi.csproj.BuildWithSkipAnalyzers
/WeatherApi/obj/Debug/net6.0/WeatherApi.csproj.FileListAbsolute.txt
/WeatherApi/obj/Debug/net6.0/WeatherApi.GlobalUsings.g.cs
/WeatherApi/obj/project.assets.json
/WeatherApi/obj/WeatherApi.csproj.nuget.dgspec.json
/WeatherApi/obj/WeatherApi.csproj.nuget.g.props
/WeatherApi/obj/WeatherApi.csproj.nuget.g.targets
