/.vs/Weather/FileContentIndex/2ddea9e5-aede-474d-9e10-b6ff9eff5ba1.vsidx
/.vs/Weather/FileContentIndex/read.lock
/.vs/Weather/v17/.suo
/Services/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Services/obj/Debug/net6.0/Services.assets.cache
/Services/obj/Debug/net6.0/Services.csproj.BuildWithSkipAnalyzers
/Services/obj/Debug/net6.0/Services.csproj.FileListAbsolute.txt
/Services/obj/Debug/net6.0/Services.GlobalUsings.g.cs
/Services/obj/project.assets.json
/Services/obj/Services.csproj.nuget.dgspec.json
/Services/obj/Services.csproj.nuget.g.props
/Services/obj/Services.csproj.nuget.g.targets
/Test/WeatherApi.Test/bin/Debug/net6.0/nunit_random_seed.tmp
/Test/WeatherApi.Test/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Test/WeatherApi.Test/obj/Debug/net6.0/WeatherApi.Test.assets.cache
/Test/WeatherApi.Test/obj/Debug/net6.0/WeatherApi.Test.csproj.FileListAbsolute.txt
/Test/WeatherApi.Test/obj/Debug/net6.0/WeatherApi.Test.GlobalUsings.g.cs
/Test/WeatherApi.Test/obj/project.assets.json
/Test/WeatherApi.Test/obj/WeatherApi.Test.csproj.nuget.dgspec.json
/Test/WeatherApi.Test/obj/WeatherApi.Test.csproj.nuget.g.props
/Test/WeatherApi.Test/obj/WeatherApi.Test.csproj.nuget.g.targets
/WeatherApi/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/WeatherApi/obj/Debug/net6.0/apphost.exe
/WeatherApi/obj/Debug/net6.0/WeatherApi.assets.cache
/WeatherApi/obj/Debug/net6.0/WeatherApi.csproj.BuildWithSkipAnalyzers
/WeatherApi/obj/Debug/net6.0/WeatherApi.csproj.FileListAbsolute.txt
/WeatherApi/obj/Debug/net6.0/WeatherApi.GlobalUsings.g.cs
/WeatherApi/obj/project.assets.json
/WeatherApi/obj/WeatherApi.csproj.nuget.dgspec.json
/WeatherApi/obj/WeatherApi.csproj.nuget.g.props
/WeatherApi/obj/WeatherApi.csproj.nuget.g.targets
/WeatherApi/obj/project.nuget.cache
/WeatherApi/obj/Debug/net6.0/WeatherApi.pdb
/WeatherApi/obj/Debug/net6.0/WeatherApi.MvcApplicationPartsAssemblyInfo.cs
/WeatherApi/obj/Debug/net6.0/WeatherApi.MvcApplicationPartsAssemblyInfo.cache
/WeatherApi/obj/Debug/net6.0/WeatherApi.genruntimeconfig.cache
/WeatherApi/obj/Debug/net6.0/WeatherApi.GeneratedMSBuildEditorConfig.editorconfig
/WeatherApi/obj/Debug/net6.0/WeatherApi.dll
/WeatherApi/obj/Debug/net6.0/WeatherApi.csproj.CoreCompileInputs.cache
/WeatherApi/obj/Debug/net6.0/WeatherApi.csproj.CopyComplete
/WeatherApi/obj/Debug/net6.0/WeatherApi.csproj.AssemblyReference.cache
/WeatherApi/obj/Debug/net6.0/WeatherApi.AssemblyInfoInputs.cache
/WeatherApi/obj/Debug/net6.0/WeatherApi.AssemblyInfo.cs
/WeatherApi/obj/Debug/net6.0/staticwebassets.publish.json
/WeatherApi/obj/Debug/net6.0/staticwebassets.build.json
/WeatherApi/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.WeatherApi.props
/WeatherApi/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.WeatherApi.props
/WeatherApi/obj/Debug/net6.0/staticwebassets/msbuild.build.WeatherApi.props
/WeatherApi/obj/Debug/net6.0/staticwebassets
/WeatherApi/obj/Debug/net6.0/refint/WeatherApi.dll
/WeatherApi/obj/Debug/net6.0/refint
/WeatherApi/obj/Debug/net6.0/ref/WeatherApi.dll
/WeatherApi/obj/Debug/net6.0/ref
/WeatherApi/obj/Debug/net6.0/PublishOutputs.20bfed7d5e.txt
/WeatherApi/obj/Debug/net6.0
/WeatherApi/obj
/WeatherApi/bin/Debug/net6.0/WeatherApi.runtimeconfig.json
/WeatherApi/bin/Debug/net6.0/WeatherApi.pdb
/WeatherApi/bin/Debug/net6.0/WeatherApi.exe
/WeatherApi/bin/Debug/net6.0/WeatherApi.dll
/WeatherApi/bin/Debug/net6.0/WeatherApi.deps.json
/WeatherApi/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/WeatherApi/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/WeatherApi/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
/WeatherApi/bin/Debug/net6.0/Services.pdb
/WeatherApi/bin/Debug/net6.0/Services.dll
/WeatherApi/bin/Debug/net6.0/publish/web.config
/WeatherApi/bin/Debug/net6.0/publish/WeatherApi.runtimeconfig.json
/WeatherApi/bin/Debug/net6.0/publish/WeatherApi.pdb
/WeatherApi/bin/Debug/net6.0/publish/WeatherApi.exe
/WeatherApi/bin/Debug/net6.0/publish/WeatherApi.dll
/WeatherApi/bin/Debug/net6.0/publish/WeatherApi.deps.json
/WeatherApi/bin/Debug/net6.0/publish/Swashbuckle.AspNetCore.SwaggerUI.dll
/WeatherApi/bin/Debug/net6.0/publish/Swashbuckle.AspNetCore.SwaggerGen.dll
/WeatherApi/bin/Debug/net6.0/publish/Swashbuckle.AspNetCore.Swagger.dll
/WeatherApi/bin/Debug/net6.0/publish/Services.pdb
/WeatherApi/bin/Debug/net6.0/publish/Services.dll
/WeatherApi/bin/Debug/net6.0/publish/Microsoft.OpenApi.dll
/WeatherApi/bin/Debug/net6.0/publish/appsettings.json
/WeatherApi/bin/Debug/net6.0/publish/appsettings.Development.json
/WeatherApi/bin/Debug/net6.0/publish
/WeatherApi/bin/Debug/net6.0/Microsoft.OpenApi.dll
/WeatherApi/bin/Debug/net6.0/appsettings.json
/WeatherApi/bin/Debug/net6.0/appsettings.Development.json
/WeatherApi/bin/Debug/net6.0
/WeatherApi
/Test/WeatherApi.Test/obj
/Test/WeatherApi.Test/bin/Debug/net6.0
/Test/WeatherApi.Test
/Services/obj/project.nuget.cache
/Services/obj/Debug/net6.0/Services.pdb
/Services/obj/Debug/net6.0/Services.GeneratedMSBuildEditorConfig.editorconfig
/Services/obj/Debug/net6.0/Services.dll
/Services/obj/Debug/net6.0/Services.csproj.CoreCompileInputs.cache
/Services/obj/Debug/net6.0/Services.csproj.AssemblyReference.cache
/Services/obj/Debug/net6.0/Services.AssemblyInfoInputs.cache
/Services/obj/Debug/net6.0/Services.AssemblyInfo.cs
/Services/obj/Debug/net6.0/refint/Services.dll
/Services/obj/Debug/net6.0/refint
/Services/obj/Debug/net6.0/ref/Services.dll
/Services/obj/Debug/net6.0/ref
/Services/obj/Debug/net6.0/PublishOutputs.e91d8a6597.txt
/Services/obj/Debug/net6.0
/Services/obj
/Services/bin/Debug/net6.0/Services.pdb
/Services/bin/Debug/net6.0/Services.dll
/Services/bin/Debug/net6.0/Services.deps.json
/Services/bin/Debug/net6.0/publish/Services.pdb
/Services/bin/Debug/net6.0/publish/Services.dll
/Services/bin/Debug/net6.0/publish/Services.deps.json
/Services/bin/Debug/net6.0/publish
/Services/bin/Debug/net6.0
/Services
/.vs/Weather/v17/TestStore/0/testlog.manifest
/.vs/Weather/v17/TestStore/0/000.testlog
/.vs/Weather/v17/TestStore/0
/.vs/Weather/FileContentIndex/029d5769-3813-4cad-8d82-1b24c2140cd8.vsidx
/.vs/Weather/FileContentIndex
/.vs/Weather/DesignTimeBuild/.dtbcache.v2
/.vs/Weather/DesignTimeBuild
/.vs/Weather
